server:
  port: 8088
  servlet:
    context-path: /api/v1

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/user_service_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  signerKey: "hv6fY7BpNMxzGYtKUqBWew9yTCNvBFYpKd6A+nnReT4nnAd9SaH3Q5qFKfD6MAAnQ0m/71LonooAy7MG1/bqmQ=="
