server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      # Cấu hình CORS (Để Frontend gọi được API)
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:3000"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers:
              - "*"
      routes:
        # 1. Auth Service
        - id: auth-service
          uri: http://localhost:8088
          predicates:
            - Path=/api/v1/auth/**

        # 2. Product Service
        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/products/**

        # 3. Order Service
        - id: order-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/orders/**

        # 4. User Service
        - id: user-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/users/**
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO
