spring:
  application:
    name: user-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  config:
    import: "configserver:http://localhost:8888"
  cloud:
    consul:
      host: localhost
      port: 8500
    vault:
      enabled: false

server:
  port: 8089
  servlet:
    context-path: /api/v1

logging:
  level:
    root: INFO
    com.ecommerce: DEBUG
