server:
  port: 8888

spring:
  application:
    name: config-server
  
  # Security credentials for Config Server (loaded from environment variables)
  security:
    user:
      name: ${CONFIG_SERVER_USERNAME:config}
      password: ${CONFIG_SERVER_PASSWORD:config123}
  
  # Config Server - using native file system
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations
  profiles:
    active: native

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config: DEBUG
