server:
  port: 8081
  servlet:
    context-path: /api/v1/products

spring:
  application:
    name: product-service

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: true
        service-name: product-service
  mongodb:
    uri: mongodb://admin:password@localhost:27017/product_db?authSource=admin

logging:
  level:
    com.ecommerce: DEBUG
    org.springframework.web: INFO

